<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="scrumis2PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>org.scrumis2.entities.Equipos</class>
    <class>org.scrumis2.entities.Login</class>
    <class>org.scrumis2.entities.Roles</class>
    <class>org.scrumis2.entities.Permisos</class>
    <class>org.scrumis2.entities.Sprints</class>
    <class>org.scrumis2.entities.Kambam</class>
    <class>org.scrumis2.entities.Usuarios</class>
    <class>org.scrumis2.entities.Baklogs</class>
    <class>org.scrumis2.entities.Proyectos</class>
    <class>org.scrumis2.entities.UsersHistories</class>
    <class>org.scrumis2.entities.Estados</class>
    <class>org.scrumis2.entities.Estados_1</class>
    <class>org.scrumis2.entities.Kambam_1</class>
    <class>org.scrumis2.entities.Sprints_1</class>
    <class>org.scrumis2.entities.Login_1</class>
    <class>org.scrumis2.entities.Permisos_1</class>
    <class>org.scrumis2.entities.UsersHistories_1</class>
    <class>org.scrumis2.entities.Proyectos_1</class>
    <class>org.scrumis2.entities.Equipos_1</class>
    <class>org.scrumis2.entities.Baklogs_1</class>
    <class>org.scrumis2.entities.Usuarios_1</class>
    <class>org.scrumis2.entities.Roles_1</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/tpis2"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="postgres"/>
    </properties>
  </persistence-unit>
</persistence>
